*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}  
section{
    display:flex ;
    justify-content: center;
    align-items: center;
    background-image:url(./IMAGES/Internat-33.jpg) ;
    background-size: cover;
    width: 100%; 
    height: 700px;
}

input{
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.38);
    margin-bottom: 30px;
    border-radius: 14px;
    color: brown;
    border: 1px solid black;
    text-align: center;
    width: 250px;
    height: 30px;
}

.checkbox{
    margin-top: 10px;
    width: 13px;
    height: 14px;
    display: inline-block;
}

.divreclama{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left:  10px;
    border: 1px solid black;
    
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.38);
    width: 320px;
    height: 400px;
    border-radius: 16px;
}
.divreclama:hover{
     box-shadow: 1px 1px 20px 4px rgb(8, 173, 233) ;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgb(242, 244, 246);
    border-radius: 7px;
    padding: 7px;
    width: 100px;
}
button:hover{
    display: block;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgba(13, 165, 235, 0.611);
    border-radius: 7px;
    padding: 7px;
    width: 120px;
}

h2{
    width: 100%;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
     color: white;
}
p{
    margin-top: 10px;
}